body {
    margin: 0 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: black;
    text-align: center;
}
p {
    margin: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;

}

header {
    padding-top: 72px;
}

#container::before {
    background-image: url(../img/capa_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: -1000;
}

#logo {
    margin-bottom: 156px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#logo img {
    max-width: 210px;
}

#contato {
    font-size: 14px;
    padding: 16px;
    margin-bottom: 56px;
    background-color: black;
}

#siga{
    margin-bottom: 40px;
}

#social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#social-1 {
    display: flex;
}

#social-2 {
    display: flex;
}

#social a{
    display: flex;
    flex-direction: row;
    width: 40px;
    margin: 8px 16px;
    align-items: center;
}

.logo-social{
    display: flex;
    max-height: 40px;
    color: white;
}

#clipes{
    margin-bottom: 56px;
}
.clipe {
 width:328px; 
 height: 183px;
 border: 2px solid white;
 margin-bottom: 16px;
}

#ouça {
    margin-bottom: 56px;
}

@media (min-width: 520px) {   
    #social{
        flex-direction: row;
    }
}

@media (min-width: 700px) {

    header {
        padding-top: 16px;
    }
    #container::before {
        background-size: 100%;
        opacity: .40;
        height: 100%
        }

    #logo {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #logo img {
        max-width: 290px;
    }

    #contato {
        background-color: transparent;
        margin-bottom: 16px;
    }

    #container-clipes{
        display: flex;
        justify-content: center;
    }
    
    #container-clipes article {
        margin: 0 16px; 
    }

    #clipes{
        margin-bottom: 32px;;
    }

    .clipe {
        border: 2px solid black;
    }

    #ouça {
        margin-bottom: 0;
    }

}