body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: white;
    background-color: black;
    text-align: center;
}
p {
    margin: 0;
}

h2 {
    font-size: 20px;
    font-weight: 700;

}
#container {
    background-image: url(../img/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 80px;
}

#logo {
    margin-bottom: 160px;
}

#contato {
    /* text-align: center; */
    font-size: 12px;

}

#social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#social-1 {
    display: flex;
}

#social-2 {
    display: flex;
}

#social a{
    display: flex;
    flex-direction: row;
    width: 40px;
    padding: 8px 16px;

}

.logo-social{
    display: flex;
    max-height: 40px;
    color: white;
}